apiVersion: apps/v1
kind: Deployment
metadata:
  name: umami
  namespace: umami
  annotations:
    keel.sh/policy: force
    keel.sh/pollSchedule: "@every 24h"
    keel.sh/trigger: poll
spec:
  replicas: 2
  selector:
    matchLabels:
      app: umami
  template:
    metadata:
      labels:
        app: umami
    spec:
      containers:
        - name: umami
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 1000m
              memory: 1024Mi
          image: ghcr.io/umami-software/umami:postgresql-v2.20.1
          ports:
            - containerPort: 5000
              protocol: TCP
          env:
            - name: PORT
              value: "5000"
            - name: DB_DATABASE
              value: "umami"
            - name: DB_HOST
              value: "pg-cluster-rw.db.svc.cluster.local"
            - name: DB_PORT
              value: "5432"
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: umami-credentials
                  key: username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: umami-credentials
                  key: password
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: umami-credentials
                  key: dburl
          imagePullPolicy: Always
