apiVersion: apps/v1
kind: Deployment
metadata:
  name: vaultwarden
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vaultwarden
  template:
    metadata:
      labels:
        app: vaultwarden
    spec:
      containers:
        - name: vaultwarden
          image: vaultwarden/server:1.35.1
          ports:
            - containerPort: 80
          env:
            - name: DOMAIN
              value: "https://password.cngei.it"
            - name: SMTP_HOST
              value: "smtp-relay.gmail.com"
            - name: SMTP_PORT
              value: "587"
            - name: SMTP_FROM
              value: "noreply@cngei.it"
            - name: SMTP_USERNAME
              value: "help@cngei.it"
            - name: SSO_ENABLED
              value: "true"
            - name: SSO_ONLY
              value: "true"
            - name: SSO_AUTHORITY
              value: "https://auth.cngei.it/auth/realms/cngei"
            - name: SSO_CLIENT_ID
              value: "vaultwarden"
            - name: SSO_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: vaultwarden-smtp-password
                  key: clientsecret
            - name: SMTP_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: vaultwarden-smtp-password
                  key: password
          volumeMounts:
            - name: vaultwarden-pvc
              mountPath: /data
      volumes:
        - name: vaultwarden-pvc
          persistentVolumeClaim:
            claimName: vaultwarden-pvc

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: vaultwarden-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 10Gi
