apiVersion: apps/v1
kind: Deployment
metadata:
  name: assemblee
spec:
  replicas: 1
  selector:
    matchLabels:
      app: assemblee
  template:
    metadata:
      labels:
        app: assemblee
    spec:
      containers:
        - name: assemblee
          image: ghcr.io/cngei/assemblee-cngei:ef1b2c4b17e057722f22872f1703292b9dd3a623
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:postgresql://pg-cluster-rw.db.svc.cluster.local:5432/assemblee"
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: pg-cluster-assemblee-credentials
                  key: username
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: pg-cluster-assemblee-credentials
                  key: password
            - name: REDISHOST
              value: "redis.assemblee.svc.cluster.local"
